<!-- Page apropos -->
<div class="container-fluid work anchor-about" id="about">
  <!-- <div class="row" id="work"> -->
    <!-- <div class="col-md-12 col-xs-12"> -->
      <!-- <div> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->

  <div class="row" id="work">
    <div class="col-md-8 col-xs-8 apropos-top">
      <div class="apropos-masso">
        <h2 class="h2-apropos"><%= t('copyright')%></h2>
        <h3 class="h3-apropos"><%= t('.federation')%></h3>
      </div>
    </div>

    <div class="col-md-4 col-xs-4">
        <h4 class="h4_logo">   <%= image_tag("logo_fqm_2014.jpg", size: "455x175",
          alt: "Edit Entry", class: "logoimg_about logo-FQM")%></h4>
    </div>
  </div>
  <div class="row" id="work">
    <div class="col-md-6 col-xs-6">
      <div class="apropos-masso">
        <h5 class="apropos-masso-h5"><%= t('.formation')%></h5>
        <div class="about-page-indent apropos">
          <h4> <span class="glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;<%= t('.suedois')%></h4>
          <br>
          <h4><span class="glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;<%= t('.chaise')%></h4>
          <br>
          <h4><span class="glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;<%= t('.tissus_profond')%></h4>
          <br>
          <h4><span class="glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;<%= t('.thailandais')%></h4>
          <br>
        </div>
        <h5 class="apropos-masso-h5"><%= t('.experience_titre')%> </h5>
        <div class="about-page-indent">
          <h4><%= t('.experience')%></h4>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xs-6">
        <div class="image-two">
          <%= image_tag("Masso_Accessoires.jpg", size: "600x300",
          alt: "Edit Entry", class: "img-two img-responsive")%>
    </div>

  </div>
</div>

