<!-- Page articles -->
<div class="container-fluid work anchor-articles" id="articles">
  <!-- ============================= -->
  <!-- Accordion menu                -->
  <!-- ============================= -->

<!-- Accordion title -->
  <div class="panel-group" id="accordion">
    <h2 class="h2_articles"><%=t('.article_video')%></h2>
    <!--<%= I18n.locale %> -->

  <% if I18n.locale == I18n.default_locale %>

    <!-- 1ier article - Principaux objectifs de la massothérapie -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title articles-h5">
          <a id="yves" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-circle-arrow-right"></span> <%=t('.article1')%></a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="container faq">
            <div class="border-articles">
              <p>« <%=t('.article1_paragraphe1')%><cite><%=t('.article1_cite')%></cite></p>
              <br>
              <p><%=t('.article1_paragraphe2')%></p>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 2e article  -  La place de la massothérapie clinique dans les soins de santé. -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title articles-h5">
          <a class="yves" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-circle-arrow-right"></span>
          <%=t('.article2')%>
          <br>
          </a>
        </h5>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="container faq">
            <div class="border-articles">
              <p><%=t('.article2_paragraphe1')%></p>
              <br>
              <p><%=t('.article2_paragraphe2')%></p>
              <br>
              <p><%=t('.article2_paragraphe3')%></p>
              <br>
              <p><%=t('.article2_paragraphe4')%></p>
              <br>
              <p><%=t('.article2_paragraphe5')%></p>
              <p><cite> <%=t('.article2_cite')%></cite></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 3e article - Migraines : Les bienfaits du massage. -->
    <div class="panel panel-default">
      <div class="panel-heading" id="faqPanel">
        <h4 class="panel-title articles-h5">
          <a class="yves" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-circle-arrow-right"></span>
            <%=t('.article3')%>
          </a>
          <!-- <button data-toggle="collapse" class="btn btn-block" data-target="#collapseThree" data-parent="#accordion">Why would you hire me
          </button>
          -->
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="container faq articles">
            <div class="border-articles">
              <p><%=t('.article3_paragraphe1')%></p>
              <br>
              <p class="masso-bold"><%=t('.article3_paragraphe2')%></p>
              <br>
              <p><%=t('.article3_paragraphe3')%></p>
              <br>
              <p><%=t('.article3_paragraphe4')%></p>
              <br>
              <p><%=t('.article3_paragraphe5')%></p>
              <br>
              <p><%=t('.article3_paragraphe6')%></p>
              <br>
              <p><%=t('.article3_paragraphe7')%></p>
              <br>
              <p><%=t('.article3_source')%></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 4e article -  -->
    <div class="panel panel-default">
      <div class="panel-heading" id="faqPanel">
        <h4 class="panel-title articles-h5">
          <a class="yves" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-circle-arrow-right"></span>
            <%=t('.article4')%>
          </a>
          <!-- <button data-toggle="collapse" class="btn btn-block" data-target="#collapseThree" data-parent="#accordion">Why would you hire me
          </button>
          -->
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="container faq articles">
            <div class="border-articles">
              <p><%=t('.article4_par')%></p>
              <br>
              <p class="masso-bold"><%=t('.article4_paragraphe1')%></p>
              <br>
              <p><%=t('.article4_paragraphe2')%></p>
              <br>
              <p class="masso-bold"><%=t('.article4_paragraphe3')%></p>
              <br>
              <p><%=t('.article4_paragraphe4')%></p>

              <br>
              <p><%=t('.article4_paragraphe5')%></p>
              <div class="articles-page-indent">
                <p><%=t('.article4_para5_indent1')%></p>
                <p><%=t('.article4_para5_indent2')%></p>
                <p><%=t('.article4_para5_indent3')%></p>
                <p><%=t('.article4_para5_indent4')%></p>
                <p><%=t('.article4_para5_indent5')%></p>
                <p><%=t('.article4_para5_indent6')%></p>
                <p><%=t('.article4_para5_indent7')%></p>
                <br>
              </div>
              <p class="masso-bold"><%=t('.article4_paragraphe6')%></p>
              <br>
              <p><%=t('.article4_paragraphe7')%><span class="underline"><%=t('.article4_para7_underline1')%></span>, <%=t('.article4_para7_suite1')%>
              </p>
              <br>
              <p><%=t('.article4_paragraphe8')%><span class="underline"><%=t('.article4_para8_underline1')%></span><%=t('.article4_para8_suite1')%><span class="underline"><%=t('.article4_para8_underline2')%></span><%=t('.article4_para8_suite2')%>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% else %>
    <h2 class="h2_articles">New articles coming soon</h2>
  <% end %>

</div>
