  <!-- Page articles -->
<div class="container-fluid work anchor-tarifs" id="tarifs">

  <div class="row" id="work">
    <div class="col-md-12 col-xs-12 apropos-top">
      <div class="services-masso">
        <h3 class="h2_articles"><%= t('.promotion_encours')%></h2>
        <h3 class="h2_articles"><%= t('.promotion_des_fetes_texte1')%></h2>
        <h3 class="h2_articles"><%= t('.promotion_des_fetes_texte2')%></h2>
        <h3 class="h2_articles"><%= t('.promotion_des_fetes_texte3')%></h2>
        <h3 class="h2_articles"><%= t('.promotion_des_fetes_periode')%></h2>
        <br>
        <br>
        <h2><%= t('.inscrivez_vous')%></h2>
      </div>
    </div>
  </div>
</div>
