<!-- Page services -->
<div class="container-fluid work anchor-services" id="services">

  <div class="row" id="work">
    <div class="col-md-6 col-xs-6 apropos-top">
      <div class="services-masso">
        <h2 class="h2-apropos"><%=t('copyright')%></h2>
      </div>
    </div>
  </div>
  <div class="row" id="work">
    <div class="col-md-6 col-xs-6">
      <div class="mission-masso">
        <br>
        <br>
        <h5 class="services-masso-h5"><%=t('.soins')%></h5>
        <div class="about-page-indent detail-services-masso">
          <p><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;<%=t('.m_therapeutique')%> </p>
          <br>
          <p><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;<%=t('.m_detente')%></p>
          <br>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xs-6">
      <div class="image-two">
        <%= image_tag("Masso_Photo.jpg", size: "600x300",
        alt: "Edit Entry", class: "img-two img-responsive")%>
      </div>
    </div>
  </div>

  <div class="border-articles">
    <div class="row" id="work">
    <!-- <div class="col-md-12 col-xs-12"> -->
      <div class="col-md-3 col-xs-3">

        <h5 class="articles-h5"><%=t('.le_massage_suedois')%></h5>
      </div>

      <div class="col-md-9 col-xs-9">

        <p class="services"><%=t('.le_massage_suedois_texte')%></p>
      </div>
    </div>
    <br>
    <div class="row" id="work">
          <!-- </div> -->
          <!-- <div class="border-articles"> -->
        <div class="col-md-3 col-xs-3">
          <h5 class="articles-h5"> <strong><%=t('.massage_detente')%></strong></h5>
        </div>
        <div class="col-md-9 col-xs-9">
          <p class="services"><%=t('.massage_detente_texte')%></p>
        </div>          <!-- </div> -->
    </div>
    <br>

    <div class="row" id="work">
          <!-- <div class="border-articles"> -->
      <div class="col-md-3 col-xs-3">
            <h5 class="articles-h5"><strong><%=t('.massage_therapeutique')%></strong></h5>
      </div>
      <div class="col-md-9 col-xs-9">
        <p class="services"><%=t('.massage_therapeutique_texte')%></p>
      </div>          <!-- </div> -->
    </div>
    <br>

    <div class="row" id="work">
      <div class="col-md-3 col-xs-3">
        <h5 class="articles-h5"><strong><%=t('.massage_tissus')%></strong></h5>
      </div>
      <div class="col-md-9 col-xs-9">
        <p class="services"><%=t('.massage_tissus_texte')%></p>
      </div>
    </div>
    <br>

    <div class="row" id="work">
      <div class="col-md-3 col-xs-3">
        <h5 class="articles-h5"> <strong><%=t('.bilan_sante')%></strong></h5>
      </div>
      <div class="col-md-9 col-xs-9">
        <p class="services"><%=t('.bilan_sante_texte')%></p>
      </div>
    </div>
  </div>
</div>
