<!-- Page tarifs -->
<div class="container-fluid work anchor-tarifs" id="tarifs">

  <div class="row" id="work">
    <div class="col-md-6 col-xs-6 apropos-top">
      <div class="services-masso">
        <h2 class="h2-apropos"><%=t('copyright')%></h2>
      </div>
    </div>
  </div>
  <div class="row" id="work">
    <div class="col-md-6 col-xs-6">
      <div class="mission-masso">
        <h5 class="services-masso-h5"><%=t('.tarif')%></h5>
        <div class="about-page-indent detail-services-masso">
          <p><%=t('.60_min')%></p>
          <br>
          <p><%=t('.90_min')%></p>
          <br>
          <p><%=t('.cheque_cadeau')%></p>
          <br>
          <p><%=t('.recu_ass')%></p>
          <br>
          <p><%=t('.ouverture')%></p>
          <br>
          <p><%=t('.contactez_moi')%></p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xs-6">
      <div class="image-two">
        <%= image_tag("Masso_Photo_2.jpg", size: "600x300",
        alt: "Edit Entry", class: "img-two img-responsive")%>
      </div>
    </div>
  </div>
</div>