<div class="panel panel-default thankyou-popup">
  <div class="panel-body">
    <p><%=t('.mailer_merci')%></p>
    <br>
    <p><%=t('.mailer_message_envoye')%></p>
    <br>
    <p><%=t('.mailer_bonne_journee')%></p>
  </div>

  <div class="thankyou-button">
    <!-- Back to Product list -->
    <%= button_to 'Page Contact', contact_path,
      class: 'btn btn-primary btn-sm inline', :method => :get %>

    <!-- Go back HOME-->
    <%= button_to 'Page principale', root_path,
      class: 'btn btn-primary btn-sm inline', :method => :get %>
  </div>

</div>
