<!-- Header of email -->
 <table border="1" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td>
    <!-- Header of the email (contaiing an image and later a title) -->
    <table align="center" border="0" cellpadding="0" cellspacing="0"
      width="700" style="border-collapse: collapse;">
      <tr>
        <td align="left" style="color: #153643; font-family: Arial, sans-serif;
         font-size: 16px; padding-left:5px; padding-right: 25px; padding-bottom: 20px">
          <b>Nouveau message d'un usager du site : Guylaine Lefebvre Massothérapeute</b>
        </td>
      </tr>

      <tr>
        <td align="center" bgcolor="#d6aa79" style="padding: 40px 0 30px 0;">
          <%= image_tag("Mon_Local_V2.jpg", size: "500x350",
            alt: "Edit Entry", class: "img-two img-responsive", style: "display: block;")%>
        </td>
      </tr>
    </table>
  <!-- Email body (3 sections - Title, main comments,
        bottom (divided in two sections separated by some spacing) -->
    <tr>
      <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
              <b>Message : </b>
            </td>
          </tr>

          <tr>
            <td style="padding: 20px 0 30px 0;">
              <%= @message %>
            </td>
          </tr>

          <tr>
            <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
             <b>Téléphone : </b>
            </td>
          </tr>

          <tr>
            <td style="padding: 10px 0 30px 0;">
               <%= @message %>
            </td>
          </tr>

          <tr>
          <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
           <b>Courriel : </b>
          </td>
          </tr>

          <tr>
            <td style="padding: 20px 0 30px 0;">
               <%= @email %>
            </td>
          </tr>
</table></td></tr>
</td></tr></table>

<!-- Email footer section -->
 <tr>
  <td bgcolor="#9d9d9d" style="padding: 30px 30px 30px 30px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td style="color: #ffffff; font-family: Arial, sans-serif;
          font-size: 14px;width="75%";">
        &copy; 2018 Guylaine Lefebvre Massothérapie<br/><br>
        </td>
  </td>
    <td align="right">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
            <td>
              <a href="https://www.facebook.com/Guylaine-Lefebvre-massothérapeute-1445595255704434"target="_blank">
                <%= image_tag("Facebook.png", alt: "Facebook",
                  style: "width:25px; height:25px; color:white;")%>
              </a>
            </td>
            <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
              <td>
                <a href="http://linkedin.com/in/guylaine-lefebvre-74b22721"
                  target="_blank">
                    <%= image_tag("LinkedIn.png", alt: "Linnked",
                      style: "width:25px; height:25px; color:white;")%>
                  </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
 </tr>
</table>
</td>
</tr>
</table>